@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Rubik+Vinyl&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr{
    display: block;
}
*{
    font-family: Outfit;
}

.rubik-vinyl-regular {
    font-family: "Rubik Vinyl", serif;
    font-weight: 400;
    font-style: normal;
  }

  @media (max-width: 768px) {
    a.active{
        background-color: black;
        color: white;
    }
  }